<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>FlightReservationSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginAction</display-name>
    <servlet-name>LoginAction</servlet-name>
    <servlet-class>com.Servlets.LoginAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAction</servlet-name>
    <url-pattern>/LoginAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutAction</display-name>
    <servlet-name>LogoutAction</servlet-name>
    <servlet-class>com.Servlets.LogoutAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutAction</servlet-name>
    <url-pattern>/LogoutAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignupAction</display-name>
    <servlet-name>SignupAction</servlet-name>
    <servlet-class>com.Servlets.SignupAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupAction</servlet-name>
    <url-pattern>/SignupAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FlightSearch</display-name>
    <servlet-name>FlightSearch</servlet-name>
    <servlet-class>com.Servlets.FlightSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FlightSearch</servlet-name>
    <url-pattern>/FlightSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserDetails</display-name>
    <servlet-name>UserDetails</servlet-name>
    <servlet-class>com.Servlets.UserDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDetails</servlet-name>
    <url-pattern>/UserDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookTicket</display-name>
    <servlet-name>BookTicket</servlet-name>
    <servlet-class>com.Servlets.BookTicket</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookTicket</servlet-name>
    <url-pattern>/BookTicket</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelTicket</display-name>
    <servlet-name>CancelTicket</servlet-name>
    <servlet-class>com.Servlets.CancelTicket</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelTicket</servlet-name>
    <url-pattern>/CancelTicket</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewTicket</display-name>
    <servlet-name>ViewTicket</servlet-name>
    <servlet-class>com.Servlets.ViewTicket</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewTicket</servlet-name>
    <url-pattern>/ViewTicket</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CitySearch</display-name>
    <servlet-name>CitySearch</servlet-name>
    <servlet-class>com.Servlets.CitySearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CitySearch</servlet-name>
    <url-pattern>/CitySearch</url-pattern>
  </servlet-mapping>
</web-app>